.main{
    align-content: center;
    margin: auto;
    width: 30%;
    border: 3px solid rgb(48, 60, 170);
    background-color: slategray;
    padding: 10px;
}
.abs{
    text-align: center;
}
h1{
    align-content:flex-end center;
    color: rgb(95, 24, 6);
}
/* .div1{
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  
  border-radius: 4px;
  box-sizing: border-box;
} */